/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
html{
    font-size: 62.65%;
}
#view{
    background-color: rgb(76, 208, 248);
    height: 100%;
    overflow-x: hidden;
}
.result-card{
    background: #eff0f0;
    box-shadow: 1px 1px 10px rgba(54, 54, 54, 0.719);
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
    margin-top:10rem ;
    padding: 4rem;
}
.result-card h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 3.6rem;
    font-weight: 600;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 2px;
}
.student-detail{
    margin-top: 3rem;
    padding: 1rem;
}
.detail{
    display: flex;
    align-items: center;
    padding: 0.3rem;
    /* border: #414242 solid; */
}
.detail h2{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2.4rem;
}
.detail p{
    margin-top: 1rem;
    font-size: 2rem;
    margin-left: 1rem;
    text-transform: uppercase;
}
.result-box{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.253);
    width: 60vw;
    overflow-x: scroll;
    padding: 1rem;
   
}
.result-box h2{
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 1rem;
}
.table{
    border: 1px solid;
    width: auto;
    
}
.table thead{
    background: rgb(76, 208, 248);
}
.table thead th{
    color: #eff0f0;
    font-size: 2rem;
    /* border: 1px solid black; */
    padding-left: 4rem;
    padding-right: 3rem;
    text-transform: uppercase;
}
.table tbody tr td{
font-size: 1.6rem;
text-align: center;
padding: 1rem;
}
.result-card form{
    text-align: center;
    margin-top: 6rem;
}
.result-card form input{
    width: 30rem;
    background: none;
    border: 1px solid rgba(43, 42, 42, 0.685);
    height: 4rem;
    padding-left:2rem;
    outline: none;
    font-size: 1.4rem;
}
::-webkit-input-placeholder{
    font-size: 1.4rem;
    text-transform: capitalize;
}
.viewbtn{
    width: 10rem !important;
    background: #001233 !important;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 2rem;
    padding-left: 0rem !important;
    margin-top: 0.3rem;
    margin-left: 3rem;
    text-align: center;
    transition: all 0.5s;
    border-radius: 3px;
}
.viewbtn:hover{
    background: #eff0f0 !important;
    color: #001233;
    border-radius:5px ;
}